{% load crispy_forms_tags %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

 <style>
    .log{
    border: 1px solid;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0);
    }
</style>

<div style = "padding-left:40%; padding-right:40%;">
    <div class="log" style = "margin-bottom:30%">
    <form method = "POST">
        {% csrf_token %}
        <fieldset class="form-group">
        {{form|crispy }}

    </fieldset>

        <button class="submit form-group btn btn-outline-info">
            Request Password Reset
        </button>

    </form>
</div>
</div>

